.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 2px solid var(--PURPLE1);
    padding-bottom: 0.25rem;
    margin-bottom: 2rem;
}

.title img {
    width: 40px;
    border-radius: 50%;
}

.projetosContainer {
    display: flex;
    max-width: 820px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    background: var(--GRAY6);
    gap: 4rem;
    border: 2px solid var(--PURPLE1);
    border-top-left-radius: 200px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 25px;
}

.image {
    max-width: 350px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    flex-flow: column;
    margin-left: -0.25rem;
    border: 2px solid var(--PURPLE1);
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px 5px black;
}

.image img {
    height: 400px;
    max-width: 350px;
    object-fit: cover;
    align-self: center;
}

.descricao {
    max-width: 375px;
    width: 100%;
    max-height: 398px;
    padding: 1rem 2rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: flex-start;
}

.descricao h2 {
    font-size: 1.25rem;
}

.descricao p {
    text-align: justify;
    width: 100%;
    max-height: 150px;
}

.linguagensUtilizadas p {
    border-bottom: 2px solid var(--PURPLE1);
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
}

.linguagensUtilizadas div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.img {
    object-fit: scale-down;
    width: 40px;
    height: 40px;
    transition: all 0.2s;
}

.linguagensUtilizadas div img:hover {
    transform: scale(110%);
    filter: drop-shadow(0 0 3px var(--PURPLE1));
}

.buttons {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.acessar {
    background: #0d87c0;
    font-weight: bold;
    color: var(--GRAY1);
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid var(--GRAY7);
    text-decoration: none;
    transition: all 0.2s;
}

.acessar:focus {
    outline: 1px solid #0d87c0;
}

.acessar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px #0d87c0;
}

.github {
    background: var(--PURPLE1);
    font-weight: bold;
    color: var(--GRAY1);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--GRAY7);
    text-decoration: none;
    transition: all 0.2s;
}

.github:hover {
    box-shadow: 0 0 5px var(--PURPLE1);
    scale: 1.1;
}

.github:focus {
    outline: 1px solid var(--PURPLE1);
}

.radioButtons {
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.radioButton {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid var(--PURPLE1);
    background: var(--GRAY5);
    transition: all 0.2s;
}

.radioButton:hover {
    cursor: pointer;
}

.radioButton:checked {
    background: var(--PURPLE1);
    border: 1px solid var(--GRAY7);
    outline: 1px solid var(--PURPLE1);
}

.forTheButtons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
}

.forTheButtons button {
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    border: 2px solid var(--PURPLE1);
    background: var(--PURPLE1);
    color: var(--GRAY7);
    font-weight: bold;
    transition: all 0.2s;
}

.forTheButtons button:hover {
    background: var(--GRAY7);
    color: var(--PURPLE1);
    cursor: pointer;
    transform: scale(110%);
    box-shadow: 0 0 5px var(--PURPLE1);
}