.content {
    min-height: 75vh;
    width: 100%;
    padding: 1rem;
    background-image: url(../../imgs/imagem2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.content p {
    width: 400px;
    text-align: center;
}

.header {
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    border-bottom: 2px solid var(--PURPLE1);
    padding-bottom: 0.25rem;
}

.header img {
    width: 45px;
}

.tecnologias {
    gap: 1rem;
    margin-top: 2rem;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tecnologias img {
    width: 75px;
    filter: drop-shadow(0 0 5px var(--PURPLE1));
    transition: all 0.2s;
}
.tecnologias img:hover {
    transform: scale(1.2);
}

@media (max-width: 820px) {
    .content {
        width: 100%;
        padding: 1rem;
    }
    .content p {
        width: 100%;
        padding: 0 0.75rem;
    }
    .content div {
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1.25rem;
        text-align: center;
    }
    .tecnologias {
        width: 100%;
        justify-content: center;
    }
    .tecnologias img {
        width: 50px;
    }
}